
//COLORS
$water_dark_blue:   #021019;
$water_light_blue:  #5ab7f2;
$water_light_95: 	#e7f5fd;
$water_light_90: 	#d0ebfb;
$water_light_85: 	#b8e0f9;
$water_light_80: 	#a1d6f7;
$water_light_75: 	#89ccf5;
$water_light_70: 	#71c2f4;
$water_light_65: 	#5ab7f2;
$water_light_60: 	#42adf0;
$water_light_55: 	#2ba3ee;
$water_light_50: 	#1399ec;
$water_light_45: 	#118ad4;
$water_light_40: 	#0f7abd;
$water_light_35: 	#0d6ba5;
$water_light_30: 	#0b5c8e;
$water_light_25: 	#0a4c76;
$water_light_20:	#083d5e;
$water_light_15: 	#062e47;
$water_light_10: 	#041f2f;
