<% content_for :title, "#{t('new_address_page.create_new_address')} - CryptoCoinsMap" %>
    <h1 class="text-center blue-header "><%= t('new_address_page.create_new_address') %></h1>
    <%= render 'form', address: @address %>
    <%= link_to 'Back', addresses_path %>
