.scrollable-coin-container{
  overflow-x: hidden;
  margin-left: 5px;
  max-height: 250px;
  min-width: 300px;
  background: transparent;
  overflow-y: scroll;
  margin-bottom: 25px;
}

/*
 *  STYLE 7
 */
#scrollable-coin-container::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(27, 131, 210, 0.3);
  background-color: transparent;
  border-radius: 10px;
}

#scrollable-coin-container::-webkit-scrollbar
{
  width: 15px;
  background-color: transparent;
}
#scrollable-coin-container::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-image: -webkit-gradient(linear,
          left bottom,
          left top,
          color-stop(0.44, $water_light_65),
          color-stop(0.72, $water_light_35),
          color-stop(0.86, $water_light_65));
}
