<div class="container-fluid navbar-summary">
  <div class="row" >
    <div class="col-xs-3 ">
      <div class=" summary-shop-icon">
      </div>
    </div>
    <div class="col-xs-9"  >
      <span class=" inline summary-info"><%= yield :summary_tot_businesses %></span><%= link_to  new_address_path do  %> <span class=" form-control filter-apply-button inline glyphicon glyphicon-plus blue-70" style="min-width: 150px;"></span> <% end %>
    </div>

  </div>
</div>