<div id="world-background" class="dashboard-container">
  <div class="container-fluid" style="">
    <div class="row">
      <div class="col-sm-4 col-md-3  col-lg-2 dashboard-menu-container" >
        <%= render 'layouts/dashboard_menu' %>
      </div>
      <div class=" col-sm-8 col-md-9 col-lg-10">
        <%= yield %>
      </div>
    </div>
  </div>
</div>