<div class="form-group">
  <div class="email-list">
    <div class=" email-input">
      <div class="form-group string required address_emails ">
        <label class="control-label string required login-label" for="address_zip_code"><abbr title="required">*</abbr> <%= t('address.email') %>
        </label>
        <input type="text" id="address_emails" name="address[emails][1]" class="form-control string required transparent-input">
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-success btn-sm btn-add-email">
    <span class="glyphicon glyphicon-plus"></span> <%= t('address.add_email') %>
  </button>
</div>