<div class="row social-login-container">
  <div class="col-xs-2 ">
    <div class=" social-facebook-icon">
    </div>
  </div>
  <div class="col-xs-10">
    <%= link_to t('devise.sessions.sign_in_with_facebook'), user_facebook_omniauth_authorize_path , class: "social-login-label" %>
  </div>
</div>
<div class="row social-login-container">
  <div class="col-xs-2 ">
    <div class=" social-google-icon">
    </div>
  </div>
  <div class="col-xs-10">
    <%= link_to t('devise.sessions.sign_in_with_google'), user_google_oauth2_omniauth_authorize_path , class: "social-login-label" %>
  </div>
</div>

<div class="row social-login-container">
  <div class="col-xs-2 ">
    <div class=" social-twitter-icon">
    </div>
  </div>
  <div class="col-xs-10">
    <%= link_to t('devise.sessions.sign_in_with_twitter'), user_twitter_omniauth_authorize_path , class: "social-login-label" %>
  </div>
</div>
<!--
<div class="row social-login-container">
  <div class="col-xs-2 ">
    <div class=" social-google-icon">
    </div>
  </div>
  <div class="col-xs-10">
    <%# link_to t('devise.sessions.sign_in_with_google'), user_facebook_omniauth_authorize_path , class: "social-login-label" %>
  </div>
</div>
<div class="row social-login-container">
  <div class="col-xs-2">
    <div class=" social-twitter-icon">
    </div>
  </div>
  <div class="col-xs-10">
    <%# link_to t('devise.sessions.sign_in_with_twitter'), user_facebook_omniauth_authorize_path , class: "social-login-label" %>
  </div>
</div>
<div class="row social-login-container">
  <div class="col-xs-2">
    <div class=" social-github-icon">
    </div>
  </div>
  <div class="col-xs-10">
    <%# link_to t('devise.sessions.sign_in_with_github'), user_facebook_omniauth_authorize_path , class: "social-login-label"%>
  </div>
</div>-->